rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Public Emoji Catalog
    match /emojis/{emojiId} {
      allow read, get, list: if true;
      allow write, create, update, delete: if true;
    }
  }
}
